.THIS {
    background-color: #959595;
    color: #040404;
    margin: auto;
  	border: 3px solid #DF0000;
    width: 70%;
  	padding: 10px;
    animation-name: progressBar;
  	animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
.THIS .text{
  color: #DF0000;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.THIS .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #959595;
}
.THIS .container:hover .overlay {
  opacity: 1;
}
.THIS .image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 25%;
}
.THIS .container {
  position: relative;
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.THIS .button {
  background-color: #DF0000; 
  border: none;
  color: #040404;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.THIS .button:hover{
    background-color: black; 
  	color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.THIS .ishidden {
    display: none;
}

.THIS .tooltip-body-wrapper {
    position:absolute;
    right:59.5%;
    bottom:100%;
}


@-webkit-keyframes progressBar {
  0% { width: 0;}
    70% { width: 70%;}
}